.leftNav>li:nth-child(3)>a{color: #FFCC00;}

/* content */
.titleArea{
  padding-top: 20px;
}
.banner>li{margin-top: 20px; width: 228px; height: 130px;background: url(../img/banner1.jpg); background-size:cover; text-indent: -9999px;}
.banner>li:last-child{background: url(../img/banner2.jpg); background-size:cover;}
.titleArea>h2{font:bold 25px/1 "맑은고딕"; color: #555; margin-bottom: 15px;}
.titleArea>p{font:bold 13px/1 "맑은고딕"; color: #aaa; position: relative;}
.titleArea>p::after{content: ''; display: block; position: absolute; top: 55px; left: -20px; width: 107%; height: 1px; background: #ddd; }
.contentArea{margin-top: 50px; padding: 20px; box-sizing: border-box; text-indent: -9999px;}
.contentArea>h3{width: 373px; height: 55px; background: url(../img/ceotitle.jpg); background-size:cover; margin-bottom: 30px;  overflow: hidden;}
.contentArea>p{font:bold 12px/2 "맑은고딕"; color: #666;}
.contentArea>.img{width: 252px; height: 259px; background: url(../img/ceopic.jpg); background-size:cover; margin: 0 0 15px 25px; float: right;}
.contentArea>.person{width: 122px; height: 26px; background: url(../img/ceo.jpg); background-size:cover; float: right; margin-top: 20px; position: relative; right: 25px;}
